<form action="/{{resources_name}}" method="POST">

  <input type="hidden" name="method_" value="PATCH">


  {% for (name, _) in fields %}

  <p>
    <label for="{{resource_name}}_{{name}}">{{ name }}</label>

    {%raw%}{{{%endraw%} errors|field_errors("{{name}}")|safe {%raw%}}}{%endraw%}

    <input type="text" name="{{name}}" value="{%raw%}{{{%endraw%}{{resource_name}}.{{name}}{%raw%}}}{%endraw%}" id="{{resource_name}}_{{name}}" {%raw%}{{{%endraw%} errors|input_errors("{{name}}") {%raw%}}}{%endraw%}>
  </label>
  </p>

  {% endfor %}

  <p>
  <input type="submit" value="Update {{resource_name}}">
  </p>

</form>
