<p><a href="/{{resources_name}}/new">New {{resource_name}}</a></p>

<ul>
  {% raw %}{%{% endraw %} for {{resource_name}} in {{resources_name}} {% raw %}%}{% endraw %}
  <li><a href="/{{resources_name}}/{% raw %}{{{% endraw %}{{resource_name}}.id{% raw %}}}{% endraw %}">{% raw %}{{{% endraw %}{{resource_name}}.id{% raw %}}}{% endraw %}</a></li>
  {% raw %}{%{% endraw %} endfor {% raw %}%}{% endraw %}
</ul>
