<form action="/{{resources_name}}" method="POST">

  {% for (name, _) in fields %}

  <p>
    <label for="{{resource_name}}_{{name}}">{{ name }}</label>

    {%raw%}{{{%endraw%} errors|field_errors("{{name}}")|safe {%raw%}}}{%endraw%}

    <input type="text" name="{{name}}" id="{{resource_name}}_{{name}}" {%raw%}{{{%endraw%} errors|input_errors("{{name}}") {%raw%}}}{%endraw%}>
  </label>
  </p>

  {% endfor %}

  <p>
  <input type="submit" value="Create {{resource_name}}">
  </p>

</form>
