<h1>{%raw%}{{{%endraw%}{{resource_name}}.id{%raw%}}}{%endraw%}</h1>

<dl>
  {% for (name, _) in fields %}
  <dt>{{name}}</dt>
  <dd>{%raw%}{{{%endraw%}{{resource_name}}.{{name}}{%raw%}}}{%endraw%}</dd>
  {% endfor %}
</dl>

<p><a href="/{{resources_name}}/{%raw%}{{{%endraw%}{{resource_name}}.id{%raw%}}}{%endraw%}/edit">Edit this {{resource_name}}</a><p>
